## Import Packages

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
import numpy as np
import scipy
from scipy import stats
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.stats.multicomp import MultiComparison

## Read in Data

In [3]:
df_sac = pd.read_csv('sac_aggregate_dataset_2019_2021.csv')

In [4]:
df_sac

,State,Year,Intake - Relinquished By Owner Total-Feline,Intake - Stray At Large Total-Feline,Intake - Transferred In Total-Feline,Intake - Owner Intended Euthanasia Total-Feline,Intakes - Other Intakes Total-Feline,Live Outcome - Adoption Total-Feline,Live Outcome - Returned To Owner Total-Feline,Live Outcome - Returned To Field Total-Feline,...,Intakes - Other Intakes Total-Canine,Live Outcome - Adoption Total-Canine,Live Outcome - Returned To Owner Total-Canine,Live Outcome - Returned To Field Total-Canine,Live Outcome - Transferred Out Total-Canine,Live outcome - Other Live Outcome Total-Canine,Other Outcome - Died In Care Total-Canine,Other Outcome - Lost In Care Total-Canine,Other Outcome - Owner Intended Euthanasia Total-Canine,Other Outcome - Shelter Euthanasia Total-Canine
0,AK,2019,850,1786,32,67,68,1689,353,0,...,0,0,0,0,0,0,0,0,0,0
1,AK,2020,800,1404,61,51,68,1755,331,0,...,0,0,0,0,0,0,0,0,0,0
2,AK,2021,743,1522,85,37,70,1886,289,1,...,0,0,0,0,0,0,0,0,0,0
3,AL,2019,5006,7199,811,16,467,7582,140,744,...,494,9484,2895,15,5927,1,310,27,111,3094
4,AL,2020,3495,6803,527,19,525,6816,140,747,...,413,7480,2303,16,6483,5,253,21,63,2054
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,WV,2020,1208,5146,30,0,85,3455,90,15,...,102,2916,919,1,2707,72,63,5,0,159
155,WV,2021,1588,6060,524,0,166,5072,85,192,...,331,5306,1459,2,2428,86,95,12,0,197
156,WY,2019,1080,1874,364,26,1140,2499,196,70,...,1735,1975,1467,1,114,752,28,0,65,159
157,WY,2020,819,1458,394,24,1112,2184,155,72,...,750,1662,1024,0,57,397,11,1,58,113
158,WY,2021,894,1240,557,19,1120,2362,175,17,...,1034,1510,960,0,59,398,7,2,59,113

## Data Wrangling for National Data

In [5]:
#columns = df_sac.iloc[2, 1:].values
#df_sac_ga = df_sac_ga.iloc[3: , 1:]
#print(len(columns))
#columns

### Read in Georgia Data

In [6]:
df_ga_shelter = pd.read_csv("Shelter-Report-Data-Export-March-2022_clean.csv")

In [7]:
df_ga_shelter = df_ga_shelter.drop('Unnamed: 0', axis=1)

In [8]:
#View Columns

In [9]:
#df_ga_shelter.columns = [Report_Period_Start, Report_Period_End, License_Number,
#                        Shelter_Name, Canine_starting_animal_count,
#                        Feline_starting_animal_count, Canine_stray_at_large,
#                        Feline_stray_at_large, Canine_relinquished_by_owner,
#                        Feline_relinquished_by_owner, Canine_intake_owner_intended_euthanasia,
#                        Feline_intake_owner_intended_euthanasia,
#                        Canine_transferred_in_from_agency, Feline_transferred_in_from_agency,
#                        Canine_other_intakes, Feline_other_intakes, Canine_adoption,
#                        Feline_adoption, Canine_returned_to_owner, Feline_returned_to_owner,
#                        Canine_transferred_to_another_agency, Feline_transferred_to_another_agency,
#                        Canine_returned_to_field, Feline_returned_to_field,
#                        Canine_other_live_outcome, Feline_other_live_outcome, Canine_died_in_care,
#                        Feline_died_in_care, Canine_lost_in_care, Feline_list_in_care,
#                        Canine_shelter_euthanasia, Feline_shelter_euthanasia,
#                         Canine_owner_intended_euthanasia, Feline_owner_intended_euthanasia]

In [10]:
#df_ga_shelter = df_ga_shelter.drop('Canine_returned_to_field', axis=1)
#df_ga_shelter = df_ga_shelter.drop('Feline_returned_to_field', axis=1)

In [11]:
pd.set_option("display.max_columns", None)

In [12]:
df_ga_shelter.columns

Index(['Report_Period_Start', 'Report_Period_End', 'License_Number',
       'Shelter_Name', 'Canine_starting_animal_count',
       'Feline_starting_animal_count', 'Canine_stray_at_large',
       'Feline_stray_at_large', 'Canine_relinquished_by_owner',
       'Feline_relinquished_by_owner',
       'Canine_intake_owner_intended_euthanasia',
       'Feline_intake_owner_intended_euthanasia',
       'Canine_transferred_in_from_agency',
       'Feline_transferred_in_from_agency', 'Canine_other_intakes',
       'Feline_other_intakes', 'Canine_adoption', 'Feline_adoption',
       'Canine_returned_to_owner', 'Feline_returned_to_owner',
       'Canine_transferred_to_another_agency',
       'Feline_transferred_to_another_agency', 'Canine_returned_to_field',
       'Feline_returned_to_field', 'Canine_other_live_outcome',
       'Feline_other_live_outcome', 'Canine_died_in_care',
       'Feline_died_in_care', 'Canine_lost_in_care', 'Feline_list_in_care',
       'Canine_shelter_euthanasia', 'Feline_shelter_euthanasia',
       'Canine_owner_intended_euthanasia', 'Feline_owner_intended_euthanasia'],
      dtype='object')

In [13]:
for col in df_sac.columns[2:]:
    df_sac[col] = df_sac[col].astype(object)

### National Data Wrangling

In [14]:
df_sac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 30 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   State                                                   159 non-null    object
 1   Year                                                    159 non-null    int64
 2   Intake - Relinquished By Owner Total-Feline             159 non-null    object
 3   Intake - Stray At Large Total-Feline                    159 non-null    object
 4   Intake - Transferred In Total-Feline                    159 non-null    object
 5   Intake - Owner Intended Euthanasia Total-Feline         159 non-null    object
 6   Intakes - Other Intakes Total-Feline                    159 non-null    object
 7   Live Outcome - Adoption Total-Feline                    159 non-null    object
 8   Live Outcome - Returned To Owner Total-Feline           159 non-null    object
 9   Live Outcome - Returned To Field Total-Feline           159 non-null    object
 10  Live Outcome - Transferred Out Total-Feline             159 non-null    object
 11  Live outcome - Other Live Outcome Total-Feline          159 non-null    object
 12  Other Outcome - Died In Care Total-Feline               159 non-null    object
 13  Other Outcome - Lost In Care Total-Feline               159 non-null    object
 14  Other Outcome - Owner Intended Euthanasia Total-Feline  159 non-null    object
 15  Other Outcome - Shelter Euthanasia Total-Feline         159 non-null    object
 16  Intake - Relinquished By Owner Total-Canine             159 non-null    object
 17  Intake - Stray At Large Total-Canine                    159 non-null    object
 18  Intake - Transferred In Total-Canine                    159 non-null    object
 19  Intake - Owner Intended Euthanasia Total-Canine         159 non-null    object
 20  Intakes - Other Intakes Total-Canine                    159 non-null    object
 21  Live Outcome - Adoption Total-Canine                    159 non-null    object
 22  Live Outcome - Returned To Owner Total-Canine           159 non-null    object
 23  Live Outcome - Returned To Field Total-Canine           159 non-null    object
 24  Live Outcome - Transferred Out Total-Canine             159 non-null    object
 25  Live outcome - Other Live Outcome Total-Canine          159 non-null    object
 26  Other Outcome - Died In Care Total-Canine               159 non-null    object
 27  Other Outcome - Lost In Care Total-Canine               159 non-null    object
 28  Other Outcome - Owner Intended Euthanasia Total-Canine  159 non-null    object
 29  Other Outcome - Shelter Euthanasia Total-Canine         159 non-null    object
dtypes: int64(1), object(29)
memory usage: 37.4+ KB

In [15]:
import re

### Remove commas in all columns with numbers greater than 999

In [16]:
for col in df_sac.columns[2:]:
    try:
        df_sac[col] = df_sac[col].apply(lambda s: re.sub(",",'',s)).astype(int)
    except:
        df_sac[col] = df_sac[col].astype(int)

In [17]:
pd.set_option("display.max_rows", None)

In [18]:
df_sac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 30 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   State                                                   159 non-null    object
 1   Year                                                    159 non-null    int64
 2   Intake - Relinquished By Owner Total-Feline             159 non-null    int32
 3   Intake - Stray At Large Total-Feline                    159 non-null    int32
 4   Intake - Transferred In Total-Feline                    159 non-null    int32
 5   Intake - Owner Intended Euthanasia Total-Feline         159 non-null    int32
 6   Intakes - Other Intakes Total-Feline                    159 non-null    int32
 7   Live Outcome - Adoption Total-Feline                    159 non-null    int32
 8   Live Outcome - Returned To Owner Total-Feline           159 non-null    int32
 9   Live Outcome - Returned To Field Total-Feline           159 non-null    int32
 10  Live Outcome - Transferred Out Total-Feline             159 non-null    int32
 11  Live outcome - Other Live Outcome Total-Feline          159 non-null    int32
 12  Other Outcome - Died In Care Total-Feline               159 non-null    int32
 13  Other Outcome - Lost In Care Total-Feline               159 non-null    int32
 14  Other Outcome - Owner Intended Euthanasia Total-Feline  159 non-null    int32
 15  Other Outcome - Shelter Euthanasia Total-Feline         159 non-null    int32
 16  Intake - Relinquished By Owner Total-Canine             159 non-null    int32
 17  Intake - Stray At Large Total-Canine                    159 non-null    int32
 18  Intake - Transferred In Total-Canine                    159 non-null    int32
 19  Intake - Owner Intended Euthanasia Total-Canine         159 non-null    int32
 20  Intakes - Other Intakes Total-Canine                    159 non-null    int32
 21  Live Outcome - Adoption Total-Canine                    159 non-null    int32
 22  Live Outcome - Returned To Owner Total-Canine           159 non-null    int32
 23  Live Outcome - Returned To Field Total-Canine           159 non-null    int32
 24  Live Outcome - Transferred Out Total-Canine             159 non-null    int32
 25  Live outcome - Other Live Outcome Total-Canine          159 non-null    int32
 26  Other Outcome - Died In Care Total-Canine               159 non-null    int32
 27  Other Outcome - Lost In Care Total-Canine               159 non-null    int32
 28  Other Outcome - Owner Intended Euthanasia Total-Canine  159 non-null    int32
 29  Other Outcome - Shelter Euthanasia Total-Canine         159 non-null    int32
dtypes: int32(28), int64(1), object(1)
memory usage: 20.0+ KB

# Georgia Shelter Analysis

In [19]:
df_ga_shelter['Report_Period_Start'] = pd.to_datetime(df_ga_shelter['Report_Period_Start'])
df_ga_shelter['Report_Period_End'] = pd.to_datetime(df_ga_shelter['Report_Period_End'])

In [20]:
mean_shelter_df_ga_shelter = df_ga_shelter.groupby('Shelter_Name').mean().reset_index()

# Shelters with highest averages per month

In [21]:
for col in mean_shelter_df_ga_shelter.iloc[:,1:].columns:
    display(mean_shelter_df_ga_shelter[mean_shelter_df_ga_shelter[col] == mean_shelter_df_ga_shelter[col].max()].loc[:,['Shelter_Name', col]])

           Shelter_Name  License_Number
74  City of Union Point      33116143.0

                     Shelter_Name  Canine_starting_animal_count
76  DEKALB COUNTY ANIMAL SERVICES                         361.8

                     Shelter_Name  Feline_starting_animal_count
76  DEKALB COUNTY ANIMAL SERVICES                        335.45

                     Shelter_Name  Canine_stray_at_large
87  FULTON COUNTY ANIMAL SERVICES                 285.75

                     Shelter_Name  Feline_stray_at_large
76  DEKALB COUNTY ANIMAL SERVICES                  266.9

                      Shelter_Name  Canine_relinquished_by_owner
92  GWINNETT COUNTY ANIMAL SHELTER                        124.55

                      Shelter_Name  Feline_relinquished_by_owner
92  GWINNETT COUNTY ANIMAL SHELTER                         158.9

                        Shelter_Name  Canine_intake_owner_intended_euthanasia
154  WHITFIELD COUNTY ANIMAL CONTROL                                    12.25

                     Shelter_Name  Feline_intake_owner_intended_euthanasia
123  Morgan County Animal Control                                     17.2

                      Shelter_Name  Canine_transferred_in_from_agency
34  CITY OF CORDELE ANIMAL SHELTER                          25.611111

                      Shelter_Name  Feline_transferred_in_from_agency
34  CITY OF CORDELE ANIMAL SHELTER                          20.555556

                  Shelter_Name  Canine_other_intakes
95  HALL COUNTY ANIMAL SHELTER             83.357143

                  Shelter_Name  Feline_other_intakes
95  HALL COUNTY ANIMAL SHELTER                  34.5

                     Shelter_Name  Canine_adoption
87  FULTON COUNTY ANIMAL SERVICES           198.65

                     Shelter_Name  Feline_adoption
76  DEKALB COUNTY ANIMAL SERVICES            168.9

                      Shelter_Name  Canine_returned_to_owner
92  GWINNETT COUNTY ANIMAL SHELTER                    106.25

                     Shelter_Name  Feline_returned_to_owner
76  DEKALB COUNTY ANIMAL SERVICES                     41.75

                      Shelter_Name  Canine_transferred_to_another_agency
64  COLUMBUS ANIMAL CONTROL CENTER                                105.85

                   Shelter_Name  Feline_transferred_to_another_agency
3  BARTOW COUNTY ANIMAL SHELTER                                138.65

                                 Shelter_Name  Canine_returned_to_field
0              ALAPAHA ANIMAL CONTROL/SHELTER                       0.0
1             ATHENS CLARKE CO ANIMAL CONTROL                       0.0
2                     AUGUSTA ANIMAL SERVICES                       0.0
3                BARTOW COUNTY ANIMAL SHELTER                       0.0
4              BAXLEY ANIMAL CONTROL, CITY OF                       0.0
5               BERRIEN COUNTY ANIMAL SHELTER                       0.0
6               BETTY GAMBRELL ANIMAL SHELTER                       0.0
7                   BLACKSHEAR ANIMAL CONTROL                       0.0
8                 BRYAN COUNTY ANIMAL CONTROL                       0.0
9              BULLOCH COUNTY ANIMAL SERVICES                       0.0
10                BUTTS COUNTY ANIMAL CONTROL                       0.0
11              Baldwin County Animal Control                       0.0
12               Barrow County Animal Control                       0.0
13                Bibb County Animal Services                       0.0
14                    Bill's Test Record, LLC                       0.0
15               Burke County Animal Services                       0.0
16                   CAMDEN CO ANIMAL CONTROL                       0.0
17              CARROLL COUNTY ANIMAL SHELTER                       0.0
18     CATOOSA COUNTY ANIMAL SHELTER/ CONTROL                       0.0
19            CHATTOOGA COUNTY ANIMAL SHELTER                       0.0
20   CHEROKEE COUNTY ANIMAL CONTROL & SHELTER                       0.0
21   CITY  OF COLLEGE PARK PUBLIC WORKS DEPT.                       0.0
22                          CITY OF ABBEVILLE                       0.0
23   CITY OF ADEL; DR. WM. F. BOZEMAN A/C FAC                       0.0
24                              CITY OF AILEY                       0.0
25                CITY OF ALMA ANIMAL SHELTER                       0.0
26             CITY OF ASHBURN ANIMAL SHELTER                       0.0
27                         CITY OF ATTAPULGUS                       0.0
28         CITY OF BARNESVILLE ANIMAL SHELTER                       0.0
29             CITY OF BLAKELY ANIMAL CONTROL                       0.0
30               CITY OF BYRON ANIMAL SHELTER                       0.0
31                           CITY OF CALHOUN                        0.0
32                            CITY OF CLAXTON                       0.0
33                           CITY OF COLQUITT                       0.0
34             CITY OF CORDELE ANIMAL SHELTER                       0.0
35                           CITY OF CUTHBERT                       0.0
36         CITY OF DAWSONVILLE ANIMAL CONTROL                       0.0
37                            CITY OF EASTMAN                       0.0
38                          CITY OF ELLAVILLE                       0.0
39          CITY OF GRANTVILLE ANIMAL SHELTER                       0.0
40               CITY OF HAGAN ANIMAL CONTROL                       0.0
41         CITY OF HARTWELL POLICE DEPARTMENT                       0.0
42                         CITY OF HAZLEHURST                       0.0
43                              CITY OF JESUP                       0.0
44                           CITY OF LAKELAND                       0.0
45                              CITY OF MCRAE                       0.0
46              CITY OF MILLEN ANIMAL SHELTER                       0.0
47                       CITY OF MOUNT VERNON                       0.0
48                CITY OF NASHVILLE DOG POUND                       0.0
49             CITY OF QUITMAN ANIMAL SHELTER                       0.0
50                           CITY OF RICHLAND                       0.0
51                            CITY OF ROYSTON                       0.0
52                             CITY OF SENOIA                       0.0
53            CITY OF SOPERTON ANIMAL CONTROL                       0.0
54              CITY OF SPARKS ANIMAL SHELTER                       0.0
55                       CITY OF TYBEE ISLAND                       0.0
56                           CITY OF UNADILLA                       0.0
57              CITY OF VIENNA ANIMAL SHELTER                       0.0
58          CITY OF WAYNESBORO ANIMAL SHELTER                       0.0
59    CLAYTON CO. POLICE DEPT, ANIMAL CONTROL                       0.0
60           CLAYTON COUNTY ANIMAL SHELTER #2                       0.0
61                 COBB COUNTY ANIMAL CONTROL                       0.0
62            COCHRAN ANIMAL SHELTER, CITY OF                       0.0
63            COLUMBIA COUNTY ANIMAL SERVICES                       0.0
64             COLUMBUS ANIMAL CONTROL CENTER                       0.0
65               COWETA COUNTY ANIMAL CONTROL                       0.0
66               CRISP COUNTY ANIMAL SERVICES                       0.0
67   CUSSETA CHATTAHOOCHEE CO. ANIMAL SHELTER                       0.0
68             Chatham County Animal Services                       0.0
69                              City Of Alamo                       0.0
70                   City of Franklin Springs                       0.0
71                             City of Lumber                       0.0
72             City of Madison Animal Shelter                       0.0
73                           City of Pineview                       0.0
74                        City of Union Point                       0.0
75                              City of Wrens                       0.0
76              DEKALB COUNTY ANIMAL SERVICES                       0.0
77              Douglas County Animal Shelter                       0.0
78       Douglas/Coffee County Animal Shelter                       0.0
79            EFFINGHAM COUNTY ANIMAL SHELTER                       0.0
80      ELBERT COUNTY ANIMAL CONTROL FACILITY                       0.0
81        ELBERTON POLICE DEPARTMENT, CITY OF                       0.0
82                Evans County Animal Shelter                       0.0
83                  FANNIN CO. ANIMAL CONTROL                       0.0
84              FAYETTE COUNTY ANIMAL SHELTER                       0.0
85                FLOYD COUNTY ANIMAL CONTROL                       0.0
86              FORSYTH COUNTY ANIMAL SHELTER                       0.0
87              FULTON COUNTY ANIMAL SERVICES                       0.0
88               GILMER COUNTY ANIMAL CONTROL                       0.0
89               GLYNN COUNTY ANIMAL SERVICES                       0.0
90               GORDON COUNTY ANIMAL SHELTER                       0.0
91                GRADY COUNTY ANIMAL CONTROL                       0.0
92             GWINNETT COUNTY ANIMAL SHELTER                       0.0
93               Greene County Animal Control                       0.0
94               HABERSHAM CO. ANIMAL SHELTER                       0.0
95                 HALL COUNTY ANIMAL SHELTER                       0.0
96             HARALSON COUNTY ANIMAL SHELTER                       0.0
97               HARRIS COUNTY ANIMAL SHELTER                       0.0
98                 HART COUNTY SHERIFF OFFICE                       0.0
99     HAWKINSVILLE PULASKI CO ANIMAL CONTROL                       0.0
100               HEARD COUNTY ANIMAL CONTROL                       0.0
101      HENRY COUNTY ANIMAL CONTROL/ SHELTER                       0.0
102             JACKSON COUNTY ANIMAL CONTROL                       0.0
103              Jasper County Animal Control                       0.0
104               Jones County Animal Shelter                       0.0
105   LAGRANGE ANIMAL CONTROL CENTER, CITY OF                       0.0
106               LAMAR COUNTY ANIMAL CONTROL                       0.0
107             LAURENS COUNTY ANIMAL CONTROL                       0.0
108                 LEE COUNTY ANIMAL CONTROL                       0.0
109             LIBERTY COUNTY ANIMAL CONTROL                       0.0
110                LONG COUNTY ANIMAL SHELTER                       0.0
111             LOWNDES COUNTY ANIMAL SHELTER                       0.0
112                 LUMPKIN CO ANIMAL SHELTER                       0.0
113                      LYONS ANIMAL SHELTER                       0.0
114         MACON- BIBB COUNTY ANIMAL WELFARE                       0.0
115           MADISON COUNTY CODE ENFORCEMENT                       0.0
116           MCINTOSH COUNTY ANIMAL SERVICES                       0.0
117   MERIWETHER CO. ANIMAL SHELTER & CONTROL                       0.0
118                     METTER ANIMAL SHELTER                       0.0
119            MITCHELL COUNTY ANIMAL CONTROL                       0.0
120      MONROE COUNTY BOARD OF COMMISSIONERS                       0.0
121              MURRAY COUNTY ANIMAL SHELTER                       0.0
122       Madison Co. Code Enforcement Office                       0.0
123              Morgan County Animal Control                       0.0
124              Newton County Animal Control                       0.0
125             Oconee County Animal Services                       0.0
126            PAULDING COUNTY ANIMAL CONTROL                       0.0
127                      PERRY ANIMAL SHELTER                       0.0
128             PICKENS COUNTY ANIMAL SHELTER                       0.0
129                POLK COUNTY ANIMAL CONTROL                       0.0
130                Pike County Animal Control                       0.0
131              Putnam County Animal Control                       0.0
132               Rabun County Animal Control                       0.0
133            Rockdale County Animal Control                       0.0
134            SPALDING COUNTY ANIMAL SHELTER                       0.0
135    Sandersville/Washington County Shelter                       0.0
136             Screven County Animal Shelter                       0.0
137              TALBOT COUNTY ANIMAL CONTROL                       0.0
138            TATTNALL COUNTY ANIMAL CONTROL                       0.0
139             TERRELL COUNTY ANIMAL CONTROL                       0.0
140         THOMASTON-UPSON CO ANIMAL SHELTER                       0.0
141           THOMSON-MCDUFFIE ANIMAL SHELTER                       0.0
142         TIFTON-TIFT COUNTY ANIMAL SHELTER                       0.0
143                             TOOMBS COUNTY                       0.0
144               TRENTON ANIMAL SHLT,CITY OF                       0.0
145            TURNER COUNTY SHERIFF'S OFFICE                       0.0
146            Turner County Sheriff's Office                       0.0
147               UNION COUNTY ANIMAL CONTROL                       0.0
148             VIDALIA POLICE ANIMAL CONTROL                       0.0
149              WALKER COUNTY ANIMAL SHELTER                       0.0
150                    WARE CO ANIMAL SHELTER                       0.0
151              WARNER ROBINS ANIMAL SHELTER                       0.0
152                  WAYCROSS ANIMAL SERVICES                       0.0
153               WHITE COUNTY ANIMAL CONTROL                       0.0
154           WHITFIELD COUNTY ANIMAL CONTROL                       0.0
155               WORTH COUNTY ANIMAL SHELTER                       0.0
156              Walton County Animal Control                       0.0
157          Washington/Wilkes Animal Shelter                       0.0

                                 Shelter_Name  Feline_returned_to_field
0              ALAPAHA ANIMAL CONTROL/SHELTER                       0.0
1             ATHENS CLARKE CO ANIMAL CONTROL                       0.0
2                     AUGUSTA ANIMAL SERVICES                       0.0
3                BARTOW COUNTY ANIMAL SHELTER                       0.0
4              BAXLEY ANIMAL CONTROL, CITY OF                       0.0
5               BERRIEN COUNTY ANIMAL SHELTER                       0.0
6               BETTY GAMBRELL ANIMAL SHELTER                       0.0
7                   BLACKSHEAR ANIMAL CONTROL                       0.0
8                 BRYAN COUNTY ANIMAL CONTROL                       0.0
9              BULLOCH COUNTY ANIMAL SERVICES                       0.0
10                BUTTS COUNTY ANIMAL CONTROL                       0.0
11              Baldwin County Animal Control                       0.0
12               Barrow County Animal Control                       0.0
13                Bibb County Animal Services                       0.0
14                    Bill's Test Record, LLC                       0.0
15               Burke County Animal Services                       0.0
16                   CAMDEN CO ANIMAL CONTROL                       0.0
17              CARROLL COUNTY ANIMAL SHELTER                       0.0
18     CATOOSA COUNTY ANIMAL SHELTER/ CONTROL                       0.0
19            CHATTOOGA COUNTY ANIMAL SHELTER                       0.0
20   CHEROKEE COUNTY ANIMAL CONTROL & SHELTER                       0.0
21   CITY  OF COLLEGE PARK PUBLIC WORKS DEPT.                       0.0
22                          CITY OF ABBEVILLE                       0.0
23   CITY OF ADEL; DR. WM. F. BOZEMAN A/C FAC                       0.0
24                              CITY OF AILEY                       0.0
25                CITY OF ALMA ANIMAL SHELTER                       0.0
26             CITY OF ASHBURN ANIMAL SHELTER                       0.0
27                         CITY OF ATTAPULGUS                       0.0
28         CITY OF BARNESVILLE ANIMAL SHELTER                       0.0
29             CITY OF BLAKELY ANIMAL CONTROL                       0.0
30               CITY OF BYRON ANIMAL SHELTER                       0.0
31                           CITY OF CALHOUN                        0.0
32                            CITY OF CLAXTON                       0.0
33                           CITY OF COLQUITT                       0.0
34             CITY OF CORDELE ANIMAL SHELTER                       0.0
35                           CITY OF CUTHBERT                       0.0
36         CITY OF DAWSONVILLE ANIMAL CONTROL                       0.0
37                            CITY OF EASTMAN                       0.0
38                          CITY OF ELLAVILLE                       0.0
39          CITY OF GRANTVILLE ANIMAL SHELTER                       0.0
40               CITY OF HAGAN ANIMAL CONTROL                       0.0
41         CITY OF HARTWELL POLICE DEPARTMENT                       0.0
42                         CITY OF HAZLEHURST                       0.0
43                              CITY OF JESUP                       0.0
44                           CITY OF LAKELAND                       0.0
45                              CITY OF MCRAE                       0.0
46              CITY OF MILLEN ANIMAL SHELTER                       0.0
47                       CITY OF MOUNT VERNON                       0.0
48                CITY OF NASHVILLE DOG POUND                       0.0
49             CITY OF QUITMAN ANIMAL SHELTER                       0.0
50                           CITY OF RICHLAND                       0.0
51                            CITY OF ROYSTON                       0.0
52                             CITY OF SENOIA                       0.0
53            CITY OF SOPERTON ANIMAL CONTROL                       0.0
54              CITY OF SPARKS ANIMAL SHELTER                       0.0
55                       CITY OF TYBEE ISLAND                       0.0
56                           CITY OF UNADILLA                       0.0
57              CITY OF VIENNA ANIMAL SHELTER                       0.0
58          CITY OF WAYNESBORO ANIMAL SHELTER                       0.0
59    CLAYTON CO. POLICE DEPT, ANIMAL CONTROL                       0.0
60           CLAYTON COUNTY ANIMAL SHELTER #2                       0.0
61                 COBB COUNTY ANIMAL CONTROL                       0.0
62            COCHRAN ANIMAL SHELTER, CITY OF                       0.0
63            COLUMBIA COUNTY ANIMAL SERVICES                       0.0
64             COLUMBUS ANIMAL CONTROL CENTER                       0.0
65               COWETA COUNTY ANIMAL CONTROL                       0.0
66               CRISP COUNTY ANIMAL SERVICES                       0.0
67   CUSSETA CHATTAHOOCHEE CO. ANIMAL SHELTER                       0.0
68             Chatham County Animal Services                       0.0
69                              City Of Alamo                       0.0
70                   City of Franklin Springs                       0.0
71                             City of Lumber                       0.0
72             City of Madison Animal Shelter                       0.0
73                           City of Pineview                       0.0
74                        City of Union Point                       0.0
75                              City of Wrens                       0.0
76              DEKALB COUNTY ANIMAL SERVICES                       0.0
77              Douglas County Animal Shelter                       0.0
78       Douglas/Coffee County Animal Shelter                       0.0
79            EFFINGHAM COUNTY ANIMAL SHELTER                       0.0
80      ELBERT COUNTY ANIMAL CONTROL FACILITY                       0.0
81        ELBERTON POLICE DEPARTMENT, CITY OF                       0.0
82                Evans County Animal Shelter                       0.0
83                  FANNIN CO. ANIMAL CONTROL                       0.0
84              FAYETTE COUNTY ANIMAL SHELTER                       0.0
85                FLOYD COUNTY ANIMAL CONTROL                       0.0
86              FORSYTH COUNTY ANIMAL SHELTER                       0.0
87              FULTON COUNTY ANIMAL SERVICES                       0.0
88               GILMER COUNTY ANIMAL CONTROL                       0.0
89               GLYNN COUNTY ANIMAL SERVICES                       0.0
90               GORDON COUNTY ANIMAL SHELTER                       0.0
91                GRADY COUNTY ANIMAL CONTROL                       0.0
92             GWINNETT COUNTY ANIMAL SHELTER                       0.0
93               Greene County Animal Control                       0.0
94               HABERSHAM CO. ANIMAL SHELTER                       0.0
95                 HALL COUNTY ANIMAL SHELTER                       0.0
96             HARALSON COUNTY ANIMAL SHELTER                       0.0
97               HARRIS COUNTY ANIMAL SHELTER                       0.0
98                 HART COUNTY SHERIFF OFFICE                       0.0
99     HAWKINSVILLE PULASKI CO ANIMAL CONTROL                       0.0
100               HEARD COUNTY ANIMAL CONTROL                       0.0
101      HENRY COUNTY ANIMAL CONTROL/ SHELTER                       0.0
102             JACKSON COUNTY ANIMAL CONTROL                       0.0
103              Jasper County Animal Control                       0.0
104               Jones County Animal Shelter                       0.0
105   LAGRANGE ANIMAL CONTROL CENTER, CITY OF                       0.0
106               LAMAR COUNTY ANIMAL CONTROL                       0.0
107             LAURENS COUNTY ANIMAL CONTROL                       0.0
108                 LEE COUNTY ANIMAL CONTROL                       0.0
109             LIBERTY COUNTY ANIMAL CONTROL                       0.0
110                LONG COUNTY ANIMAL SHELTER                       0.0
111             LOWNDES COUNTY ANIMAL SHELTER                       0.0
112                 LUMPKIN CO ANIMAL SHELTER                       0.0
113                      LYONS ANIMAL SHELTER                       0.0
114         MACON- BIBB COUNTY ANIMAL WELFARE                       0.0
115           MADISON COUNTY CODE ENFORCEMENT                       0.0
116           MCINTOSH COUNTY ANIMAL SERVICES                       0.0
117   MERIWETHER CO. ANIMAL SHELTER & CONTROL                       0.0
118                     METTER ANIMAL SHELTER                       0.0
119            MITCHELL COUNTY ANIMAL CONTROL                       0.0
120      MONROE COUNTY BOARD OF COMMISSIONERS                       0.0
121              MURRAY COUNTY ANIMAL SHELTER                       0.0
122       Madison Co. Code Enforcement Office                       0.0
123              Morgan County Animal Control                       0.0
124              Newton County Animal Control                       0.0
125             Oconee County Animal Services                       0.0
126            PAULDING COUNTY ANIMAL CONTROL                       0.0
127                      PERRY ANIMAL SHELTER                       0.0
128             PICKENS COUNTY ANIMAL SHELTER                       0.0
129                POLK COUNTY ANIMAL CONTROL                       0.0
130                Pike County Animal Control                       0.0
131              Putnam County Animal Control                       0.0
132               Rabun County Animal Control                       0.0
133            Rockdale County Animal Control                       0.0
134            SPALDING COUNTY ANIMAL SHELTER                       0.0
135    Sandersville/Washington County Shelter                       0.0
136             Screven County Animal Shelter                       0.0
137              TALBOT COUNTY ANIMAL CONTROL                       0.0
138            TATTNALL COUNTY ANIMAL CONTROL                       0.0
139             TERRELL COUNTY ANIMAL CONTROL                       0.0
140         THOMASTON-UPSON CO ANIMAL SHELTER                       0.0
141           THOMSON-MCDUFFIE ANIMAL SHELTER                       0.0
142         TIFTON-TIFT COUNTY ANIMAL SHELTER                       0.0
143                             TOOMBS COUNTY                       0.0
144               TRENTON ANIMAL SHLT,CITY OF                       0.0
145            TURNER COUNTY SHERIFF'S OFFICE                       0.0
146            Turner County Sheriff's Office                       0.0
147               UNION COUNTY ANIMAL CONTROL                       0.0
148             VIDALIA POLICE ANIMAL CONTROL                       0.0
149              WALKER COUNTY ANIMAL SHELTER                       0.0
150                    WARE CO ANIMAL SHELTER                       0.0
151              WARNER ROBINS ANIMAL SHELTER                       0.0
152                  WAYCROSS ANIMAL SERVICES                       0.0
153               WHITE COUNTY ANIMAL CONTROL                       0.0
154           WHITFIELD COUNTY ANIMAL CONTROL                       0.0
155               WORTH COUNTY ANIMAL SHELTER                       0.0
156              Walton County Animal Control                       0.0
157          Washington/Wilkes Animal Shelter                       0.0

                  Shelter_Name  Canine_other_live_outcome
61  COBB COUNTY ANIMAL CONTROL                       18.2

                     Shelter_Name  Feline_other_live_outcome
17  CARROLL COUNTY ANIMAL SHELTER                       28.6

                     Shelter_Name  Canine_died_in_care
76  DEKALB COUNTY ANIMAL SERVICES                 2.55

                          Shelter_Name  Feline_died_in_care
142  TIFTON-TIFT COUNTY ANIMAL SHELTER                14.05

                     Shelter_Name  Canine_lost_in_care
76  DEKALB COUNTY ANIMAL SERVICES                 0.85
87  FULTON COUNTY ANIMAL SERVICES                 0.85

                     Shelter_Name  Feline_list_in_care
76  DEKALB COUNTY ANIMAL SERVICES                 1.35

              Shelter_Name  Canine_shelter_euthanasia
2  AUGUSTA ANIMAL SERVICES                      59.65

              Shelter_Name  Feline_shelter_euthanasia
2  AUGUSTA ANIMAL SERVICES                       85.2

                        Shelter_Name  Canine_owner_intended_euthanasia
154  WHITFIELD COUNTY ANIMAL CONTROL                              19.5

                     Shelter_Name  Feline_owner_intended_euthanasia
123  Morgan County Animal Control                              18.7

# Months with highest averages

In [22]:
mean_month_df_ga = df_ga_shelter.groupby('Report_Period_End').mean().reset_index()

In [23]:
for col in mean_month_df_ga.iloc[:,1:].columns:
    display(mean_month_df_ga[mean_month_df_ga[col] == mean_month_df_ga[col].max()].loc[:,['Report_Period_End', col]])

  Report_Period_End  License_Number
0        2020-07-31    9.347981e+06

   Report_Period_End  Canine_starting_animal_count
16        2021-11-30                     36.598639

   Report_Period_End  Feline_starting_animal_count
12        2021-07-31                     36.705479

   Report_Period_End  Canine_stray_at_large
12        2021-07-31              36.561644

   Report_Period_End  Feline_stray_at_large
11        2021-06-30              40.450331

  Report_Period_End  Canine_relinquished_by_owner
0        2020-07-31                     13.132812

   Report_Period_End  Feline_relinquished_by_owner
11        2021-06-30                     14.033113

   Report_Period_End  Canine_intake_owner_intended_euthanasia
19        2022-02-28                                 0.907801

  Report_Period_End  Feline_intake_owner_intended_euthanasia
3        2020-10-31                                 0.856115

   Report_Period_End  Canine_transferred_in_from_agency
17        2021-12-31                               1.08

   Report_Period_End  Feline_transferred_in_from_agency
11        2021-06-30                           1.112583

   Report_Period_End  Canine_other_intakes
18        2022-01-31              5.026846

   Report_Period_End  Feline_other_intakes
10        2021-05-31              2.655629

   Report_Period_End  Canine_adoption
13        2021-08-31         13.09396

   Report_Period_End  Feline_adoption
12        2021-07-31        14.732877

  Report_Period_End  Canine_returned_to_owner
8        2021-03-31                 11.222222

   Report_Period_End  Feline_returned_to_owner
16        2021-11-30                  1.659864

  Report_Period_End  Canine_transferred_to_another_agency
8        2021-03-31                             20.738562

   Report_Period_End  Feline_transferred_to_another_agency
10        2021-05-31                             20.562914

   Report_Period_End  Canine_returned_to_field
0         2020-07-31                       0.0
1         2020-08-31                       0.0
2         2020-09-30                       0.0
3         2020-10-31                       0.0
4         2020-11-30                       0.0
5         2020-12-31                       0.0
6         2021-01-31                       0.0
7         2021-02-28                       0.0
8         2021-03-31                       0.0
9         2021-04-30                       0.0
10        2021-05-31                       0.0
11        2021-06-30                       0.0
12        2021-07-31                       0.0
13        2021-08-31                       0.0
14        2021-09-30                       0.0
15        2021-10-31                       0.0
16        2021-11-30                       0.0
17        2021-12-31                       0.0
18        2022-01-31                       0.0
19        2022-02-28                       0.0

   Report_Period_End  Feline_returned_to_field
0         2020-07-31                       0.0
1         2020-08-31                       0.0
2         2020-09-30                       0.0
3         2020-10-31                       0.0
4         2020-11-30                       0.0
5         2020-12-31                       0.0
6         2021-01-31                       0.0
7         2021-02-28                       0.0
8         2021-03-31                       0.0
9         2021-04-30                       0.0
10        2021-05-31                       0.0
11        2021-06-30                       0.0
12        2021-07-31                       0.0
13        2021-08-31                       0.0
14        2021-09-30                       0.0
15        2021-10-31                       0.0
16        2021-11-30                       0.0
17        2021-12-31                       0.0
18        2022-01-31                       0.0
19        2022-02-28                       0.0

   Report_Period_End  Canine_other_live_outcome
13        2021-08-31                   1.033557

  Report_Period_End  Feline_other_live_outcome
4        2020-11-30                   1.381944

   Report_Period_End  Canine_died_in_care
12        2021-07-31             0.575342

   Report_Period_End  Feline_died_in_care
12        2021-07-31             2.075342

  Report_Period_End  Canine_lost_in_care
1        2020-08-31             0.066667

   Report_Period_End  Feline_list_in_care
12        2021-07-31             0.184932

   Report_Period_End  Canine_shelter_euthanasia
13        2021-08-31                   6.369128

  Report_Period_End  Feline_shelter_euthanasia
0        2020-07-31                  10.976562

   Report_Period_End  Canine_owner_intended_euthanasia
13        2021-08-31                           2.04698

   Report_Period_End  Feline_owner_intended_euthanasia
12        2021-07-31                          1.109589

# Total shelter euthanasia

In [24]:
df_ga_shelter['shelter_euthanasia'] = df_ga_shelter['Canine_shelter_euthanasia'] + df_ga_shelter['Feline_shelter_euthanasia']

In [25]:
pd.set_option("display.max_rows", 158)

# Total shelter euthanasia by Shelter

In [26]:
df_ga_shelter.groupby('Shelter_Name')['shelter_euthanasia'].sum()

Shelter_Name
ALAPAHA ANIMAL CONTROL/SHELTER                 2
ATHENS CLARKE CO ANIMAL CONTROL              126
AUGUSTA ANIMAL SERVICES                     2897
BARTOW COUNTY ANIMAL SHELTER                 213
BAXLEY ANIMAL CONTROL, CITY OF                55
BERRIEN COUNTY ANIMAL SHELTER                 57
BETTY GAMBRELL ANIMAL SHELTER                 15
BLACKSHEAR ANIMAL CONTROL                      9
BRYAN COUNTY ANIMAL CONTROL                  385
BULLOCH COUNTY ANIMAL SERVICES               206
BUTTS COUNTY ANIMAL CONTROL                  102
Baldwin County Animal Control                 79
Barrow County Animal Control                 151
Bibb County Animal Services                  346
Bill's Test Record, LLC                        0
Burke County Animal Services                 212
CAMDEN CO ANIMAL CONTROL                       0
CARROLL COUNTY ANIMAL SHELTER                465
CATOOSA COUNTY ANIMAL SHELTER/ CONTROL       551
CHATTOOGA COUNTY ANIMAL SHELTER              254
CHEROKEE COUNTY ANIMAL CONTROL & SHELTER    1043
CITY  OF COLLEGE PARK PUBLIC WORKS DEPT.       0
CITY OF ABBEVILLE                              0
CITY OF ADEL; DR. WM. F. BOZEMAN A/C FAC      63
CITY OF AILEY                                  0
CITY OF ALMA ANIMAL SHELTER                   46
CITY OF ASHBURN ANIMAL SHELTER                 0
CITY OF ATTAPULGUS                             0
CITY OF BARNESVILLE ANIMAL SHELTER           121
CITY OF BLAKELY ANIMAL CONTROL               192
CITY OF BYRON ANIMAL SHELTER                   0
CITY OF CALHOUN                                1
CITY OF CLAXTON                                6
CITY OF COLQUITT                               7
CITY OF CORDELE ANIMAL SHELTER               469
CITY OF CUTHBERT                               1
CITY OF DAWSONVILLE ANIMAL CONTROL             0
CITY OF EASTMAN                               43
CITY OF ELLAVILLE                              5
CITY OF GRANTVILLE ANIMAL SHELTER              2
CITY OF HAGAN ANIMAL CONTROL                   0
CITY OF HARTWELL POLICE DEPARTMENT             0
CITY OF HAZLEHURST                             0
CITY OF JESUP                                119
CITY OF LAKELAND                               0
CITY OF MCRAE                                  0
CITY OF MILLEN ANIMAL SHELTER                 71
CITY OF MOUNT VERNON                           2
CITY OF NASHVILLE DOG POUND                   22
CITY OF QUITMAN ANIMAL SHELTER                 0
CITY OF RICHLAND                               2
CITY OF ROYSTON                               16
CITY OF SENOIA                                 0
CITY OF SOPERTON ANIMAL CONTROL                0
CITY OF SPARKS ANIMAL SHELTER                 14
CITY OF TYBEE ISLAND                           0
CITY OF UNADILLA                               1
CITY OF VIENNA ANIMAL SHELTER                 44
CITY OF WAYNESBORO ANIMAL SHELTER             37
CLAYTON CO. POLICE DEPT, ANIMAL CONTROL        0
CLAYTON COUNTY ANIMAL SHELTER #2             115
COBB COUNTY ANIMAL CONTROL                   778
COCHRAN ANIMAL SHELTER, CITY OF              237
COLUMBIA COUNTY ANIMAL SERVICES              714
COLUMBUS ANIMAL CONTROL CENTER               485
COWETA COUNTY ANIMAL CONTROL                  94
CRISP COUNTY ANIMAL SERVICES                   0
CUSSETA CHATTAHOOCHEE CO. ANIMAL SHELTER       4
Chatham County Animal Services              1128
City Of Alamo                                  0
City of Franklin Springs                       0
City of Lumber                                 0
City of Madison Animal Shelter                 1
City of Pineview                               0
City of Union Point                            0
City of Wrens                                 12
DEKALB COUNTY ANIMAL SERVICES                372
Douglas County Animal Shelter                504
Douglas/Coffee County Animal Shelter        1701
EFFINGHAM COUNTY ANIMAL SHELTER              244
ELBERT COUNTY ANIMAL CONTROL FACILITY        449
ELBERTON POLICE DEPARTMENT, CITY OF           15
Evans County Animal Shelter                   16
FANNIN CO. ANIMAL CONTROL                      5
FAYETTE COUNTY ANIMAL SHELTER                  6
FLOYD COUNTY ANIMAL CONTROL                  250
FORSYTH COUNTY ANIMAL SHELTER                322
FULTON COUNTY ANIMAL SERVICES                635
GILMER COUNTY ANIMAL CONTROL                  35
GLYNN COUNTY ANIMAL SERVICES                 127
GORDON COUNTY ANIMAL SHELTER                 117
GRADY COUNTY ANIMAL CONTROL                  537
GWINNETT COUNTY ANIMAL SHELTER               462
Greene County Animal Control                 244
HABERSHAM CO. ANIMAL SHELTER                  80
HALL COUNTY ANIMAL SHELTER                   418
HARALSON COUNTY ANIMAL SHELTER                61
HARRIS COUNTY ANIMAL SHELTER                 100
HART COUNTY SHERIFF OFFICE                     0
HAWKINSVILLE PULASKI CO ANIMAL CONTROL         0
HEARD COUNTY ANIMAL CONTROL                   15
HENRY COUNTY ANIMAL CONTROL/ SHELTER        1207
JACKSON COUNTY ANIMAL CONTROL                349
Jasper County Animal Control                  40
Jones County Animal Shelter                  175
LAGRANGE ANIMAL CONTROL CENTER, CITY OF      180
LAMAR COUNTY ANIMAL CONTROL                    3
LAURENS COUNTY ANIMAL CONTROL                584
LEE COUNTY ANIMAL CONTROL                    711
LIBERTY COUNTY ANIMAL CONTROL                 18
LONG COUNTY ANIMAL SHELTER                    23
LOWNDES COUNTY ANIMAL SHELTER               1851
LUMPKIN CO ANIMAL SHELTER                    342
LYONS ANIMAL SHELTER                          14
MACON- BIBB COUNTY ANIMAL WELFARE            127
MADISON COUNTY CODE ENFORCEMENT                1
MCINTOSH COUNTY ANIMAL SERVICES               18
MERIWETHER CO. ANIMAL SHELTER & CONTROL       28
METTER ANIMAL SHELTER                        130
MITCHELL COUNTY ANIMAL CONTROL                15
MONROE COUNTY BOARD OF COMMISSIONERS         110
MURRAY COUNTY ANIMAL SHELTER                  32
Madison Co. Code Enforcement Office            0
Morgan County Animal Control                 105
Newton County Animal Control                 502
Oconee County Animal Services                 65
PAULDING COUNTY ANIMAL CONTROL               114
PERRY ANIMAL SHELTER                         298
PICKENS COUNTY ANIMAL SHELTER                  7
POLK COUNTY ANIMAL CONTROL                   230
Pike County Animal Control                     0
Putnam County Animal Control                 380
Rabun County Animal Control                    3
Rockdale County Animal Control                64
SPALDING COUNTY ANIMAL SHELTER                56
Sandersville/Washington County Shelter       282
Screven County Animal Shelter                307
TALBOT COUNTY ANIMAL CONTROL                  19
TATTNALL COUNTY ANIMAL CONTROL               166
TERRELL COUNTY ANIMAL CONTROL                 75
THOMASTON-UPSON CO ANIMAL SHELTER            210
THOMSON-MCDUFFIE ANIMAL SHELTER              197
TIFTON-TIFT COUNTY ANIMAL SHELTER            900
TOOMBS COUNTY                                  0
TRENTON ANIMAL SHLT,CITY OF                    6
TURNER COUNTY SHERIFF'S OFFICE                 0
Turner County Sheriff's Office                 1
UNION COUNTY ANIMAL CONTROL                   16
VIDALIA POLICE ANIMAL CONTROL                  3
WALKER COUNTY ANIMAL SHELTER                  63
WARE CO ANIMAL SHELTER                       151
WARNER ROBINS ANIMAL SHELTER                 800
WAYCROSS ANIMAL SERVICES                     236
WHITE COUNTY ANIMAL CONTROL                  602
WHITFIELD COUNTY ANIMAL CONTROL               47
WORTH COUNTY ANIMAL SHELTER                  409
Walton County Animal Control                1695
Washington/Wilkes Animal Shelter             136
Name: shelter_euthanasia, dtype: int64

# Total Cats and dogs

In [27]:
df_ga_shelter['shelter_euthanasia'].sum()

32838

# Total Cats

In [28]:
df_ga_shelter['Feline_shelter_euthanasia'].sum()

19372

In [29]:
df_ga_shelter['Canine_shelter_euthanasia'].sum()

13466

### Percent of Cats euthanized

In [30]:
19372 / 32838

0.5899263048906754

## SAC Data Analysis

###  Total Cat Euthanasia for US

In [31]:
df_sac['Other Outcome - Shelter Euthanasia Total-Feline'].sum()

321859

### Total  Euthanasia for Dogs in US

In [32]:
df_sac['Other Outcome - Shelter Euthanasia Total-Canine'].sum()

198532

In [33]:
df_sac['Shelter Euthanasia Total'] = df_sac['Other Outcome - Shelter Euthanasia Total-Feline'] + df_sac['Other Outcome - Shelter Euthanasia Total-Canine']

### Total Euthanasia of Cats and Dogs in US

In [34]:
df_sac["Shelter Euthanasia Total"].sum()

520391

## GA and SAC 2021 comparison

In [35]:
df_sac_ga_2021 = df_sac[(df_sac['State']== "GA") & (df_sac['Year']== 2021)]

## Georgia Sac 2021 Canine

In [36]:
df_sac_ga_2021["Other Outcome - Shelter Euthanasia Total-Canine"]

32    1759
Name: Other Outcome - Shelter Euthanasia Total-Canine, dtype: int32

## Georgia Sac 2021 Feline

In [37]:
df_sac_ga_2021["Other Outcome - Shelter Euthanasia Total-Feline"]

32    2602
Name: Other Outcome - Shelter Euthanasia Total-Feline, dtype: int32

## Georgia Sac 2021 Total

In [38]:
df_sac_ga_2021["Shelter Euthanasia Total"]

32    4361
Name: Shelter Euthanasia Total, dtype: int32

## Georgia Shelter Info 2021 Total

In [39]:
df_ga_shelter['year'] = df_ga_shelter['Report_Period_End'].dt.year

In [40]:
df_ga_2021 = df_ga_shelter[df_ga_shelter['year'] == 2021]

In [41]:
df_ga_2021["Canine_shelter_euthanasia"].sum()

8614

In [42]:
df_ga_2021["Feline_shelter_euthanasia"].sum()

11584

In [43]:
df_ga_2021["shelter_euthanasia"].sum()

20198

# Georgia Dataset recorded higher euthanasia numbers than SAC

In [44]:
df_sac

,State,Year,Intake - Relinquished By Owner Total-Feline,Intake - Stray At Large Total-Feline,Intake - Transferred In Total-Feline,Intake - Owner Intended Euthanasia Total-Feline,Intakes - Other Intakes Total-Feline,Live Outcome - Adoption Total-Feline,Live Outcome - Returned To Owner Total-Feline,Live Outcome - Returned To Field Total-Feline,Live Outcome - Transferred Out Total-Feline,Live outcome - Other Live Outcome Total-Feline,Other Outcome - Died In Care Total-Feline,Other Outcome - Lost In Care Total-Feline,Other Outcome - Owner Intended Euthanasia Total-Feline,Other Outcome - Shelter Euthanasia Total-Feline,Intake - Relinquished By Owner Total-Canine,Intake - Stray At Large Total-Canine,Intake - Transferred In Total-Canine,Intake - Owner Intended Euthanasia Total-Canine,Intakes - Other Intakes Total-Canine,Live Outcome - Adoption Total-Canine,Live Outcome - Returned To Owner Total-Canine,Live Outcome - Returned To Field Total-Canine,Live Outcome - Transferred Out Total-Canine,Live outcome - Other Live Outcome Total-Canine,Other Outcome - Died In Care Total-Canine,Other Outcome - Lost In Care Total-Canine,Other Outcome - Owner Intended Euthanasia Total-Canine,Other Outcome - Shelter Euthanasia Total-Canine,Shelter Euthanasia Total
0,AK,2019,850,1786,32,67,68,1689,353,0,25,0,56,2,68,477,0,0,0,0,0,0,0,0,0,0,0,0,0,0,477
1,AK,2020,800,1404,61,51,68,1755,331,0,38,0,60,5,50,155,0,0,0,0,0,0,0,0,0,0,0,0,0,0,155
2,AK,2021,743,1522,85,37,70,1886,289,1,69,0,98,0,38,57,0,0,0,0,0,0,0,0,0,0,0,0,0,0,57
3,AL,2019,5006,7199,811,16,467,7582,140,744,1104,0,423,31,21,2663,6383,13978,1784,113,494,9484,2895,15,5927,1,310,27,111,3094,5757
4,AL,2020,3495,6803,527,19,525,6816,140,747,1139,0,272,35,14,1456,5919,10502,2159,67,413,7480,2303,16,6483,5,253,21,63,2054,3510
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,WV,2020,1208,5146,30,0,85,3455,90,15,1767,86,362,33,1,630,2250,4109,172,9,102,2916,919,1,2707,72,63,5,0,159,789
155,WV,2021,1588,6060,524,0,166,5072,85,192,1854,65,503,0,1,581,2605,5049,1781,1,331,5306,1459,2,2428,86,95,12,0,197,778
156,WY,2019,1080,1874,364,26,1140,2499,196,70,241,724,115,4,29,476,831,1112,779,60,1735,1975,1467,1,114,752,28,0,65,159,635
157,WY,2020,819,1458,394,24,1112,2184,155,72,187,745,45,4,23,218,526,1102,804,58,750,1662,1024,0,57,397,11,1,58,113,331
158,WY,2021,894,1240,557,19,1120,2362,175,17,118,605,54,4,19,169,614,801,660,58,1034,1510,960,0,59,398,7,2,59,113,282

### Import Regional and Division Filter for the SAC Data

In [45]:
reg_df=pd.read_csv('https://raw.githubusercontent.com/cphalpert/census-regions/master/us%20census%20bureau%20regions%20and%20divisions.csv')

In [46]:
reg_df.head(5)

        State State Code Region            Division
0      Alaska         AK   West             Pacific
1     Alabama         AL  South  East South Central
2    Arkansas         AR  South  West South Central
3     Arizona         AZ   West            Mountain
4  California         CA   West             Pacific

In [47]:
df_sac.head(5)

,State,Year,Intake - Relinquished By Owner Total-Feline,Intake - Stray At Large Total-Feline,Intake - Transferred In Total-Feline,Intake - Owner Intended Euthanasia Total-Feline,Intakes - Other Intakes Total-Feline,Live Outcome - Adoption Total-Feline,Live Outcome - Returned To Owner Total-Feline,Live Outcome - Returned To Field Total-Feline,Live Outcome - Transferred Out Total-Feline,Live outcome - Other Live Outcome Total-Feline,Other Outcome - Died In Care Total-Feline,Other Outcome - Lost In Care Total-Feline,Other Outcome - Owner Intended Euthanasia Total-Feline,Other Outcome - Shelter Euthanasia Total-Feline,Intake - Relinquished By Owner Total-Canine,Intake - Stray At Large Total-Canine,Intake - Transferred In Total-Canine,Intake - Owner Intended Euthanasia Total-Canine,Intakes - Other Intakes Total-Canine,Live Outcome - Adoption Total-Canine,Live Outcome - Returned To Owner Total-Canine,Live Outcome - Returned To Field Total-Canine,Live Outcome - Transferred Out Total-Canine,Live outcome - Other Live Outcome Total-Canine,Other Outcome - Died In Care Total-Canine,Other Outcome - Lost In Care Total-Canine,Other Outcome - Owner Intended Euthanasia Total-Canine,Other Outcome - Shelter Euthanasia Total-Canine,Shelter Euthanasia Total
0,AK,2019,850,1786,32,67,68,1689,353,0,25,0,56,2,68,477,0,0,0,0,0,0,0,0,0,0,0,0,0,0,477
1,AK,2020,800,1404,61,51,68,1755,331,0,38,0,60,5,50,155,0,0,0,0,0,0,0,0,0,0,0,0,0,0,155
2,AK,2021,743,1522,85,37,70,1886,289,1,69,0,98,0,38,57,0,0,0,0,0,0,0,0,0,0,0,0,0,0,57
3,AL,2019,5006,7199,811,16,467,7582,140,744,1104,0,423,31,21,2663,6383,13978,1784,113,494,9484,2895,15,5927,1,310,27,111,3094,5757
4,AL,2020,3495,6803,527,19,525,6816,140,747,1139,0,272,35,14,1456,5919,10502,2159,67,413,7480,2303,16,6483,5,253,21,63,2054,3510

### Create column for Regions and Divisions for the US and drop the NAN values

In [48]:
df_sac = df_sac.merge(reg_df[["State Code","Region","Division"]], how="left", left_on="State", right_on="State Code")

In [49]:
df_sac = df_sac.dropna()

In [50]:
pd.set_option("display.max_rows", None)

In [51]:
df_sac

,State,Year,Intake - Relinquished By Owner Total-Feline,Intake - Stray At Large Total-Feline,Intake - Transferred In Total-Feline,Intake - Owner Intended Euthanasia Total-Feline,Intakes - Other Intakes Total-Feline,Live Outcome - Adoption Total-Feline,Live Outcome - Returned To Owner Total-Feline,Live Outcome - Returned To Field Total-Feline,Live Outcome - Transferred Out Total-Feline,Live outcome - Other Live Outcome Total-Feline,Other Outcome - Died In Care Total-Feline,Other Outcome - Lost In Care Total-Feline,Other Outcome - Owner Intended Euthanasia Total-Feline,Other Outcome - Shelter Euthanasia Total-Feline,Intake - Relinquished By Owner Total-Canine,Intake - Stray At Large Total-Canine,Intake - Transferred In Total-Canine,Intake - Owner Intended Euthanasia Total-Canine,Intakes - Other Intakes Total-Canine,Live Outcome - Adoption Total-Canine,Live Outcome - Returned To Owner Total-Canine,Live Outcome - Returned To Field Total-Canine,Live Outcome - Transferred Out Total-Canine,Live outcome - Other Live Outcome Total-Canine,Other Outcome - Died In Care Total-Canine,Other Outcome - Lost In Care Total-Canine,Other Outcome - Owner Intended Euthanasia Total-Canine,Other Outcome - Shelter Euthanasia Total-Canine,Shelter Euthanasia Total,State Code,Region,Division
0,AK,2019,850,1786,32,67,68,1689,353,0,25,0,56,2,68,477,0,0,0,0,0,0,0,0,0,0,0,0,0,0,477,AK,West,Pacific
1,AK,2020,800,1404,61,51,68,1755,331,0,38,0,60,5,50,155,0,0,0,0,0,0,0,0,0,0,0,0,0,0,155,AK,West,Pacific
2,AK,2021,743,1522,85,37,70,1886,289,1,69,0,98,0,38,57,0,0,0,0,0,0,0,0,0,0,0,0,0,0,57,AK,West,Pacific
3,AL,2019,5006,7199,811,16,467,7582,140,744,1104,0,423,31,21,2663,6383,13978,1784,113,494,9484,2895,15,5927,1,310,27,111,3094,5757,AL,South,East South Central
4,AL,2020,3495,6803,527,19,525,6816,140,747,1139,0,272,35,14,1456,5919,10502,2159,67,413,7480,2303,16,6483,5,253,21,63,2054,3510,AL,South,East South Central
5,AL,2021,3282,7481,683,7,995,7181,147,1180,1136,90,374,13,11,2073,5742,10539,1824,34,1078,7681,2584,0,6118,90,260,13,37,2099,4172,AL,South,East South Central
6,AR,2019,1131,3618,158,3,259,3630,557,48,382,228,111,3,1,398,1553,7211,261,2,420,3712,3367,0,1765,472,62,1,4,464,862,AR,South,West South Central
7,AR,2020,953,2307,435,3,176,3140,166,73,248,268,137,17,3,188,1744,4164,459,15,236,3199,1477,0,1577,305,80,3,5,264,452,AR,South,West South Central
8,AR,2021,1129,2406,333,49,256,3274,125,163,194,198,83,5,3,244,1750,4487,419,32,354,3524,1482,4,1564,266,75,1,34,294,538,AR,South,West South Central
9,AZ,2019,11933,14168,1367,555,2042,20098,508,443,1794,1203,940,50,477,3708,21098,29033,5675,1898,3810,35632,11501,578,8344,391,590,78,1677,3044,6752,AZ,West,Mountain
10,AZ,2020,8410,11719,1446,507,1564,16664,447,188,1813,543,501,50,497,3046,10188,24101,5986,1681,3887,28214,7283,0,6043,703,374,19,1636,2031,5077,AZ,West,Mountain
11,AZ,2021,9823,14545,1192,103,1681,17735,480,71,1468,3201,700,50,107,3363,11206,27297,5005,580,4793,29709,8784,0,5392,757,493,24,590,2346,5709,AZ,West,Mountain
12,CA,2019,24213,120718,19659,1701,4599,89620,3828,7847,21573,4074,4625,691,1718,35204,34685,101945,17380,4452,9414,81442,36732,133,26418,1831,1116,185,4327,15031,50235,CA,West,Pacific
13,CA,2020,16607,67931,20091,1104,4305,62926,2834,8005,15712,1566,2516,413,1071,12182,21091,62379,13461,3147,6439,52723,23652,226,18518,1080,736,124,2982,7122,19304,CA,West,Pacific
14,CA,2021,16771,72028,13327,1216,7726,64086,2955,10259,13692,2358,3066,215,1020,11877,22453,64753,11058,3081,7539,52522,24714,79,17821,1485,770,89,2762,7388,19265,CA,West,Pacific
15,CO,2019,12361,16628,7201,420,3924,27927,2010,2409,2659,502,664,42,405,3578,9750,16805,10897,975,4544,23096,12471,380,2649,328,280,41,937,2689,6267,CO,West,Mountain
16,CO,2020,10702,14531,8413,120,4503,27167,2204,2948,2600,386,479,47,80,2698,8811,12163,10729,347,3739,22761,9843,273,2080,233,143,38,273,2005,4703,CO,West,Mountain
17,CO,2021,13309,17291,7522,97,4607,29103,2295,3259,2772,333,681,40,92,3263,11067,15190,9815,347,3320,22847,11324,129,1766,132,145,14,301,2061,5324,CO,West,Mountain
18,CT,2019,880,992,935,109,183,2589,32,56,156,18,50,0,95,98,394,345,1540,152,163,1834,248,0,237,38,16,0,155,44,142,CT,Northeast,New England
19,CT,2020,669,718,874,70,181,2089,40,76,127,39,103,1,57,70,232,266,919,97,101,1161,226,0,150,39,13,0,96,21,91,CT,Northeast,New England
20,CT,2021,755,698,509,94,544,2050,43,37,117,52,70,2,91,63,319,292,412,165,475,916,251,0,137,45,7,0,170,34,97,CT,Northeast,New England
21,DC,2019,958,2296,421,382,928,3318,154,430,145,3,94,4,252,277,875,1461,694,705,416,2435,680,1,180,9,28,0,555,315,592,DC,South,South Atlantic
22,DC,2020,704,1987,421,262,1337,3738,116,421,74,4,70,2,168,230,671,1012,251,587,366,1662,486,0,78,7,30,0,469,193,423,DC,South,South Atlantic
23,DC,2021,812,2246,189,237,902,2955,147,615,77,13,85,0,193,241,868,1206,180,506,354,1645,650,0,119,6,35,2,430,168,409,DC,South,South Atlantic
24,DE,2019,479,532,29,0,14,875,20,15,93,3,49,0,0,74,201,87,203,0,0,470,36,0,0,0,3,1,0,12,86,DE,South,South Atlantic
25,DE,2020,561,331,2,0,79,864,11,48,26,1,53,0,0,64,140,59,239,0,0,403,25,0,2,0,1,0,0,20,84,DE,South,South Atlantic
26,DE,2021,589,606,7,0,56,1120,18,59,25,0,53,0,0,66,137,53,362,0,1,517,23,0,3,0,3,0,0,20,86,DE,South,South Atlantic
27,FL,2019,22963,73305,11234,2915,17358,68842,2618,20912,11092,1254,4100,433,2099,16476,25271,46855,15333,5638,6790,59586,14542,7,12535,1148,608,81,5033,6401,22877,FL,South,South Atlantic
28,FL,2020,20122,65148,10860,2111,7752,60381,2178,17401,11291,799,2755,369,1580,8711,17610,33905,13810,4152,5970,45371,11777,186,9885,1579,373,94,3774,3452,12163,FL,South,South Atlantic
29,FL,2021,23101,77172,10129,2059,4570,68580,1840,21349,10057,1191,3067,190,1552,9463,20038,35643,12521,3905,7203,46197,12398,1,9924,2508,458,66,3520,3850,13313,FL,South,South Atlantic
30,GA,2019,10082,12950,9023,89,4168,22013,568,1152,7296,64,1367,32,84,3674,11233,16543,9900,192,5926,25294,5202,1,9405,95,359,40,192,3362,7036,GA,South,South Atlantic
31,GA,2020,8902,12335,8143,72,3717,20629,429,800,7837,41,1021,45,73,2286,8776,12424,6699,189,4684,19559,4170,0,7958,14,268,30,192,1443,3729,GA,South,South Atlantic
32,GA,2021,10001,13426,9189,96,4587,23402,511,991,6103,2178,1188,30,63,2602,9586,13806,6902,161,5037,19511,4563,2,7105,1120,254,39,166,1759,4361,GA,South,South Atlantic
33,HI,2019,2801,12810,0,99,9,4889,1313,552,740,0,184,123,99,7719,3549,5862,251,96,107,4761,3062,0,639,0,42,5,79,1180,8899,HI,West,Pacific
34,HI,2020,2272,8403,4,161,54,4965,606,421,678,0,162,72,149,3673,2370,4085,357,406,63,3686,1990,0,414,1,32,3,398,793,4466,HI,West,Pacific
35,HI,2021,2571,8163,182,274,59,5193,447,775,1099,0,174,66,109,2888,2571,4433,203,620,62,3628,2168,19,460,0,25,3,248,782,3670,HI,West,Pacific
36,IA,2019,4194,6333,211,327,1249,7882,518,880,751,62,646,14,319,1216,3059,3671,992,590,1407,5379,2858,0,250,27,68,4,608,508,1724,IA,Midwest,West North Central
37,IA,2020,3909,5783,359,354,485,7775,488,853,929,53,330,1,352,913,2490,3400,897,574,623,4446,2535,0,136,0,41,1,569,383,1296,IA,Midwest,West North Central
38,IA,2021,3903,6486,607,390,617,8120,556,724,739,10,349,146,387,746,3571,3621,1391,613,681,5299,2648,0,356,0,59,34,593,381,1127,IA,Midwest,West North Central
39,ID,2019,3806,10807,902,293,2060,10134,450,1345,1126,862,398,80,287,3011,3819,6739,2873,514,1250,8446,4287,0,581,524,66,7,502,685,3696,ID,West,Mountain
40,ID,2020,3239,7705,1076,160,1363,9203,392,1010,936,635,253,72,163,1179,3342,5153,2281,442,918,7188,3287,1,523,442,52,7,451,438,1617,ID,West,Mountain
41,ID,2021,3216,8055,761,192,615,8666,407,1753,436,388,246,29,178,882,3244,5360,2192,461,978,7139,3545,0,344,158,77,7,449,363,1245,ID,West,Mountain
42,IL,2019,5753,7414,8246,107,950,18746,354,107,589,30,767,5,107,2289,4448,3635,13280,263,1346,18120,1895,0,491,46,253,16,254,1543,3832,IL,Midwest,East North Central
43,IL,2020,5433,5950,9280,97,916,18017,343,134,721,15,638,11,97,1313,4083,2326,14661,238,934,18064,1470,0,529,9,222,18,240,919,2232,IL,Midwest,East North Central
44,IL,2021,7262,6255,9706,119,1361,19651,420,362,705,81,878,4,118,1364,4728,2549,12596,273,1167,17144,1816,0,638,220,233,1,275,861,2225,IL,Midwest,East North Central
45,IN,2019,12326,19816,4851,408,3923,24021,1098,3696,4983,581,1175,91,349,4628,9139,16245,3648,927,3388,16199,8237,0,4656,173,215,95,773,2684,7312,IN,Midwest,East North Central
46,IN,2020,9389,15761,5200,356,2772,21351,977,2374,4817,472,866,54,265,2806,6011,11628,2926,716,2475,11277,6627,1,3422,74,157,49,578,1580,4386,IN,Midwest,East North Central
47,IN,2021,10380,18575,5687,368,4083,23057,1008,1948,5439,1412,1197,92,347,3395,6923,12657,3046,956,3042,12174,7150,64,3023,410,219,92,822,1713,5108,IN,Midwest,East North Central
48,KS,2019,6044,5402,5023,217,266,11185,634,2,2365,160,471,6,224,1848,4782,7309,4600,606,194,9438,3896,0,2406,10,52,6,589,1106,2954,KS,Midwest,West North Central
49,KS,2020,4762,4242,4629,154,270,9630,349,3,2648,246,309,1,154,880,3490,4941,4064,489,293,7335,2590,0,2178,20,46,7,481,639,1519,KS,Midwest,West North Central
50,KS,2021,4837,4295,5070,208,709,10599,344,86,2326,114,410,7,194,886,4011,5011,3877,596,1208,7957,2804,5,1909,117,57,10,586,784,1670,KS,Midwest,West North Central
51,KY,2019,6453,11310,3349,155,580,11610,338,1790,3127,137,517,11,132,3893,6861,10684,4383,305,813,10717,3288,0,6713,54,165,11,246,1440,5333,KY,South,East South Central
52,KY,2020,7216,8362,3174,90,399,9932,376,2220,4026,84,329,16,84,2267,5941,7848,2971,275,826,7679,3257,3,5592,11,103,1,236,1237,3504,KY,South,East South Central
53,KY,2021,7677,8702,4005,120,537,11028,370,1960,3586,64,449,7,94,2617,6097,8572,2866,242,1037,7710,3550,0,4940,0,140,1,196,1330,3947,KY,South,East South Central
54,LA,2019,4724,17040,1790,183,3018,9586,384,2787,4885,462,1370,229,128,6616,6706,12675,2582,584,3985,8531,3706,19,7605,161,322,112,434,4693,11309,LA,South,West South Central
55,LA,2020,3488,11891,2403,124,1529,8162,293,1843,6370,250,679,88,91,2002,4260,9252,2263,486,2524,5693,2607,63,6721,196,253,100,345,2647,4649,LA,South,West South Central
56,LA,2021,4022,18341,2246,239,1380,9407,1056,3879,7937,275,814,33,177,1744,5216,12857,1876,723,2270,5968,3281,7,8560,63,279,27,635,2364,4108,LA,South,West South Central
57,MA,2019,4153,3085,3065,384,419,9079,354,204,123,20,74,3,308,741,1768,542,3440,415,1565,6343,368,0,174,7,16,0,399,403,1144,MA,Northeast,New England
58,MA,2020,2498,2210,3299,303,321,7236,229,162,66,18,65,0,256,476,1135,591,2079,364,1445,4799,254,0,83,2,20,2,314,277,753,MA,Northeast,New England
59,MA,2021,2936,2539,3508,184,466,7834,274,298,87,29,63,2,133,634,1192,445,2447,229,1758,4852,251,0,111,9,21,1,187,534,1168,MA,Northeast,New England
60,MD,2019,2521,5853,1371,100,485,6043,343,40,1995,65,341,17,94,1476,2539,3842,1157,335,1678,4740,2247,0,1241,58,56,1,326,838,2314,MD,South,South Atlantic
61,MD,2020,2112,5372,2160,115,303,6290,220,37,2216,41,305,27,116,860,2153,2621,1235,358,923,3531,1705,0,1164,17,41,0,348,607,1467,MD,South,South Atlantic
62,MD,2021,2503,5525,1580,120,257,6137,258,77,1698,26,259,31,116,1255,2330,2809,1114,399,1217,3804,1839,2,888,11,28,2,393,771,2026,MD,South,South Atlantic
63,ME,2019,2317,1816,2482,49,171,6152,200,2,126,9,128,2,23,182,841,892,2791,75,32,3528,729,0,83,8,17,0,59,119,301,ME,Northeast,New England
64,ME,2020,1995,1225,1829,57,154,4936,218,0,23,1,93,2,46,122,518,655,1441,67,33,2027,615,0,30,2,11,0,57,50,172,ME,Northeast,New England
65,ME,2021,2048,1293,1884,30,377,4992,222,3,19,17,128,0,29,152,602,545,1339,51,195,2010,596,0,24,18,4,1,37,63,215,ME,Northeast,New England
66,MI,2019,12114,13035,2695,1486,1046,23207,722,464,1735,153,622,17,1527,1835,6389,7466,7754,2646,1315,15331,4034,1,1101,100,131,5,2695,1917,3752,MI,Midwest,East North Central
67,MI,2020,9845,10289,2389,871,1244,20381,709,297,918,48,504,7,867,1249,4400,5009,6490,1634,1258,11950,3073,0,561,33,84,2,1596,1385,2634,MI,Midwest,East North Central
68,MI,2021,10979,11985,2860,922,1008,22515,692,489,361,135,548,5,918,1195,5446,6074,7407,1787,844,14096,3551,0,472,16,110,4,1798,1455,2650,MI,Midwest,East North Central
69,MN,2019,3312,4582,2447,33,1661,8835,383,496,1324,1,243,7,41,552,1846,1867,2484,1,399,5031,1219,1,218,10,26,0,40,122,674,MN,Midwest,West North Central
70,MN,2020,3768,4481,3102,18,1222,9971,299,464,1160,3,259,13,8,278,1750,1443,3225,2,393,5466,973,8,222,3,41,1,3,113,391,MN,Midwest,West North Central
71,MN,2021,3905,4348,3650,39,2094,10719,311,793,1003,108,289,2,4,282,1594,1337,3052,3,467,5242,975,0,328,6,61,3,0,108,390,MN,Midwest,West North Central
72,MO,2019,4912,5935,2902,3,1024,12234,856,228,192,4,411,24,92,626,5139,7171,4454,19,1019,12918,2920,2,1165,1,155,18,73,604,1230,MO,Midwest,West North Central
73,MO,2020,5665,5001,2436,70,1217,12111,1187,211,111,9,365,20,26,431,4670,5858,2638,202,682,10109,2501,0,933,0,94,8,71,514,945,MO,Midwest,West North Central
74,MO,2021,7459,4918,3109,22,2931,14397,1628,872,173,19,511,15,34,627,4928,5117,3170,22,2842,11026,2971,0,866,180,118,5,97,469,1096,MO,Midwest,West North Central
75,MS,2019,2401,3490,1495,56,137,5208,83,33,804,264,231,18,51,972,5145,7304,3996,234,335,5872,1211,0,8402,3,163,32,257,1221,2193,MS,South,East South Central
76,MS,2020,2355,2997,1084,56,197,4593,62,66,879,113,245,60,54,547,4246,6407,3381,180,468,5675,1131,0,7020,3,212,20,210,575,1122,MS,South,East South Central
77,MS,2021,3138,3457,1237,54,152,5432,130,259,969,121,458,35,52,558,4424,6728,3561,117,335,5983,1221,13,6887,80,252,25,118,452,1010,MS,South,East South Central
78,MT,2019,2876,3500,343,33,528,5750,509,205,84,108,174,1,35,474,2210,3612,1458,123,446,4347,3031,0,161,121,26,3,75,170,644,MT,West,Mountain
79,MT,2020,2540,2993,366,29,453,5271,467,179,43,137,106,5,24,293,1774,2827,974,65,421,3204,2490,0,125,27,10,2,50,133,426,MT,West,Mountain
80,MT,2021,2835,2921,398,29,1041,5487,454,97,66,616,90,6,35,249,1909,2705,1037,147,990,3404,2676,0,168,195,19,1,50,202,451,MT,West,Mountain
81,NC,2019,13311,28055,5927,347,4336,26910,1147,725,7825,1764,1686,121,322,12783,15126,20825,11692,812,4532,24879,8520,1,12034,108,323,33,786,6308,19091,NC,South,South Atlantic
82,NC,2020,10575,21432,4895,207,3827,24936,823,703,6509,1133,917,77,230,6479,9687,15789,10559,631,3910,20872,6474,1,8942,4,234,29,589,3659,10138,NC,South,South Atlantic
83,NC,2021,11913,24269,5856,332,2919,26788,981,600,5451,1155,1335,58,242,7702,11197,16344,10852,729,3545,21920,6864,16,6984,10,263,30,697,4075,11777,NC,South,South Atlantic
84,ND,2019,456,1544,651,0,307,2645,110,3,97,19,55,1,0,65,683,677,186,19,246,1365,352,0,96,12,7,0,1,28,93,ND,Midwest,West North Central
85,ND,2020,460,1340,411,0,404,2441,159,12,8,1,87,0,0,40,620,554,333,13,249,1366,315,0,18,1,14,0,1,14,54,ND,Midwest,West North Central
86,ND,2021,397,1390,585,0,277,2309,224,2,9,17,68,1,0,51,511,562,441,4,294,1548,315,0,32,0,7,1,2,16,67,ND,Midwest,West North Central
87,NE,2019,2203,3549,231,1,333,3772,355,4,151,0,189,6,0,1855,1174,2347,587,1,331,2387,1719,0,30,0,26,1,0,319,2174,NE,Midwest,West North Central
88,NE,2020,1649,2675,522,0,352,3623,273,0,125,0,126,4,1,1048,965,2091,830,1,304,2501,1472,0,95,0,29,1,0,264,1312,NE,Midwest,West North Central
89,NE,2021,1565,2291,640,1,197,3589,242,42,57,0,125,2,1,635,1105,2155,647,4,304,2160,1668,4,62,0,35,3,1,215,850,NE,Midwest,West North Central
90,NH,2019,2309,1063,1013,36,93,3999,187,12,59,35,52,0,22,162,936,677,1417,41,158,2291,620,0,126,7,21,0,35,109,271,NH,Northeast,New England
91,NH,2020,1359,651,1237,19,122,3087,112,3,27,4,30,0,22,87,406,460,1134,28,101,1563,443,0,42,0,12,1,29,70,157,NH,Northeast,New England
92,NH,2021,1378,813,1106,20,243,3153,143,5,66,4,57,0,18,117,387,329,963,25,257,1369,422,0,43,7,4,0,25,74,191,NH,Northeast,New England
93,NJ,2019,2547,4850,2168,17,620,7068,393,200,1193,4,440,2,13,661,1225,1379,6961,34,297,5577,907,2,3074,2,32,1,26,265,926,NJ,Northeast,Middle Atlantic
94,NJ,2020,2440,5671,2614,11,303,8301,600,294,508,13,605,4,18,328,1014,1046,6833,16,211,5436,679,0,2849,1,27,2,23,111,439,NJ,Northeast,Middle Atlantic
95,NJ,2021,2250,5452,2283,3,386,7635,279,299,676,0,471,2,2,370,991,1212,5154,21,345,4654,837,1,2094,0,27,0,3,173,543,NJ,Northeast,Middle Atlantic
96,NM,2019,4172,6100,1096,231,4557,5769,329,1458,3444,1043,627,23,139,3953,6285,9901,712,418,5294,6953,4412,3,7743,1062,263,43,337,2975,6928,NM,West,Mountain
97,NM,2020,2641,4994,887,161,3308,5293,267,896,2662,652,302,43,113,2215,4944,7771,353,528,3395,5952,2953,0,6244,319,170,63,291,1277,3492,NM,West,Mountain
98,NM,2021,2318,7480,1103,112,2074,5001,393,1512,2116,607,478,33,106,1501,4160,10349,950,368,2233,5515,3259,11,5715,235,242,37,418,1715,3216,NM,West,Mountain
99,NV,2019,2558,7853,1568,570,1165,8165,388,1696,1073,16,299,13,565,1280,3744,11850,1401,2162,2808,10479,5141,0,2509,30,108,12,2162,1723,3003,NV,West,Mountain
100,NV,2020,1852,6343,1336,584,945,7733,316,999,598,26,303,7,580,825,1974,7576,1129,2256,1865,6523,3624,0,1502,13,71,7,2255,1057,1882,NV,West,Mountain
101,NV,2021,2037,7176,1245,419,1384,6715,318,1088,744,6,399,15,418,984,2312,8808,971,1571,2277,5636,4055,0,1606,7,97,45,1568,1234,2218,NV,West,Mountain
102,NY,2019,11552,14028,5079,828,1958,27231,772,447,1043,189,779,38,819,2188,4719,4324,9626,1205,1300,15606,2262,53,693,51,153,11,1177,1099,3287,NY,Northeast,Middle Atlantic
103,NY,2020,8415,12035,5995,779,1561,24135,630,341,840,131,607,45,750,1266,3105,3137,7308,1067,1013,11868,1693,0,372,23,122,4,1026,596,1862,NY,Northeast,Middle Atlantic
104,NY,2021,8968,12936,6185,1040,2098,23688,760,481,711,148,851,49,1011,1391,3254,3163,6765,1307,1191,11781,1947,2,233,28,100,13,1246,590,1981,NY,Northeast,Middle Atlantic
105,OH,2019,6245,15768,2389,293,2349,20745,278,1061,1902,418,959,211,283,1595,4339,8260,5854,582,1773,14139,2897,0,1669,112,130,23,565,1414,3009,OH,Midwest,East North Central
106,OH,2020,4560,11492,3249,205,1813,17645,231,450,1316,704,480,27,125,809,3258,5693,5965,440,1050,11975,2318,0,1169,36,96,16,361,722,1531,OH,Midwest,East North Central
107,OH,2021,5688,11022,2923,137,2152,18106,261,591,594,466,542,3,94,835,3242,6946,5401,471,1341,11817,2698,5,1058,50,116,18,431,863,1698,OH,Midwest,East North Central
108,OK,2019,1933,2248,3319,0,1051,4502,73,2130,665,435,586,13,1,267,4441,13356,3382,383,1510,8465,2868,0,7723,34,407,84,353,3195,3462,OK,South,West South Central
109,OK,2020,2009,2163,2940,11,225,4720,62,1582,533,353,291,6,10,176,3823,10697,2687,387,1119,8125,2408,0,6467,26,170,138,343,1549,1725,OK,South,West South Central
110,OK,2021,1932,1884,2236,15,1395,5448,72,687,559,283,330,17,5,239,3783,10868,2806,385,2028,8112,2588,0,6133,32,200,92,366,1959,2198,OK,South,West South Central
111,OR,2019,8265,8832,5713,536,1219,18140,721,1092,2215,46,431,6,530,1067,4596,5709,5569,649,1035,10708,4718,0,734,10,87,3,624,663,1730,OR,West,Pacific
112,OR,2020,6395,7628,3773,403,630,14043,602,467,2092,16,296,4,394,777,3108,4225,2942,554,836,6630,3682,0,556,5,48,1,509,460,1237,OR,West,Pacific
113,OR,2021,6038,6950,3022,379,649,12985,499,675,1294,100,261,6,332,756,2973,4133,2785,605,1029,6262,3522,1,471,14,57,2,520,526,1282,OR,West,Pacific
114,PA,2019,6217,8807,4501,662,2103,18707,293,283,510,100,639,50,524,1548,3595,3511,4990,760,2211,11464,2001,1,445,14,114,37,750,657,2205,PA,Northeast,Middle Atlantic
115,PA,2020,5283,8739,3869,426,1715,17021,302,195,470,208,489,23,211,1035,3170,2766,4936,674,1291,9499,1587,0,362,19,69,5,362,527,1562,PA,Northeast,Middle Atlantic
116,PA,2021,4406,8494,4217,412,1528,15614,286,208,342,37,648,34,182,1151,2784,3047,4380,637,987,8586,1748,26,230,55,81,9,325,552,1703,PA,Northeast,Middle Atlantic
120,RI,2019,820,376,387,50,181,1406,48,45,183,0,21,1,48,89,400,538,796,102,188,1300,454,0,176,0,2,0,106,64,153,RI,Northeast,New England
121,RI,2020,678,382,350,6,303,1237,137,38,226,0,85,0,5,37,381,336,924,37,160,1338,359,0,113,0,10,1,37,44,81,RI,Northeast,New England
122,RI,2021,782,541,529,2,241,1447,80,83,255,93,85,0,2,26,513,366,809,11,140,1193,329,0,206,1,12,2,13,45,71,RI,Northeast,New England
123,SC,2019,4540,13214,1254,98,2321,11720,280,2965,1592,73,589,510,57,2754,4741,12136,5046,212,652,13976,2333,1,4801,74,158,248,117,894,3648,SC,South,South Atlantic

### Subsetting the Euthanasia Total and the Regions

In [52]:
df_sac2

NameError: name 'df_sac2' is not defined

## DATA ANALYSIS

### ANOVA Assumptions

#### Test for Normality - Is there a difference iamong the regions of the US and the euthanasia rates?

In [ ]:
sns.displot(df_sac['Other Outcome - Shelter Euthanasia Total-Feline'])

In [ ]:
df_sac['Shelter Euthanasia Total-FelineCBRT'] = np.cbrt(df_sac['Other Outcome - Shelter Euthanasia Total-Feline'])

In [ ]:
df_sac.head()

In [ ]:
sns.displot(df_sac['Shelter Euthanasia Total-FelineCBRT'])

In [ ]:
sns.displot(df_sac['Other Outcome - Shelter Euthanasia Total-Canine'])

In [ ]:
df_sac['Shelter Euthanasia Total-CanineCBRT'] = np.cbrt(df_sac['Other Outcome - Shelter Euthanasia Total-Canine'])

In [ ]:
df_sac.head()

In [ ]:
sns.displot(df_sac['Shelter Euthanasia Total-CanineCBRT'])

### Homogeneity of Variance

In [ ]:
df_sac_hov = df_sac.loc[df_sac['Region']:, df_sac['Shelter Euthanasia Total']]

In [ ]:
scipy.stats.bartlett(df_sac['Region'], df_sac['Shelter Euthanasia Total-FelineCBRT'])

In [ ]:
scipy.stats.fligner(df_sac['Shelter Euthanasia Total-FelineCBRT'], df_sac['Region'])

### Sample Size

In [ ]:
df_sac.info()

### Independence

### Running the Analysis

In [ ]:
#df_sac.Year.value_counts()

In [ ]:
#stats.f_oneway(df_sac['Other Outcome - Shelter Euthanasia Total-Feline'][df_sac['Year']=='2019'],
                    df_sac['Other Outcome - Shelter Euthanasia Total-Feline'][df_sac['Year']=='2020'],
                    df_sac['Other Outcome - Shelter Euthanasia Total-Feline'][df_sac['Year']=='2021'])